<!DOCTYPE html>
<html>
<head>
  <title>Medicmanage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<%= render "/shared/header"  %>
    <% end %>


    <div class="page-container">
  <div id="flash_div">
    <%= render :partial => "shared/flash_messages" %>
  </div>
      <% if current_user %>

    <%= render "/shared/sidebar" %>
        <% end %>

  <%= yield %>
</div>


</body>
</html>
<script>

    jQuery(document).ready(function() {
        Metronic.init(); // init metronic core componets
        Layout.init(); // init layout
        QuickSidebar.init() // init quick sidebar
//   Index.init();
//   Index.initDashboardDaterange();
    });
</script>
